langchain
openai
unstructured[pdf]
unstructured[docx]
tiktoken
fastapi
uvicorn[standard]
gunicorn
pandas
pinecone-client
boto3
python-multipart
pymongo[srv]
tesseract
chromadb
langchainhub
langchain_openai
nemoguardrails
sphinx
sphinx-rtd-theme
pytest
moto
